# Load Data

In [11]:
import pandas as pd
import csv
krkFromUCI = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/chess/king-rook-vs-king/krkopt.data", header=None)

# Structure the data into a data frame

In [8]:
krkFromUCI.head()

   0  1  2  3  4  5     6
0  a  1  b  3  c  2  draw
1  a  1  c  1  c  2  draw
2  a  1  c  1  d  1  draw
3  a  1  c  1  d  2  draw
4  a  1  c  2  c  1  draw

# Descriptive Analysis of the data frame

In [10]:
krkFromUCI.columns = ['WhiteKingFile','WhiteKingRank','WhiteRookFile','WhiteRookRank','BlackKingFile','BlackKingRank','movesLeft']
krkFromUCI.head()

  WhiteKingFile  WhiteKingRank  ... BlackKingRank  movesLeft
0             a              1  ...             2       draw
1             a              1  ...             2       draw
2             a              1  ...             1       draw
3             a              1  ...             2       draw
4             a              1  ...             1       draw

[5 rows x 7 columns]