# Load data

In [1]:
from sklearn.datasets import load_iris
iris = load_iris()

# Structure the data into a data frame
### in this section we are creating a nicely tabulated dataset from a sklearn bunch that has different components of the data in different bunches

In [4]:
import pandas as pd
x = pd.DataFrame(data = iris.data, columns = iris.feature_names)
print(x.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
y = pd.DataFrame(data=iris.target, columns = ['irisType'])
print(y.head())

   irisType
0         0
1         0
2         0
3         0
4         0

In [10]:
data = pd.DataFrame({
    'sepalLength':iris.data[:,0],
    'sepalWidth':iris.data[:,1],
    'petalLength':iris.data[:,2],
    'petalWidth':iris.data[:,3],
    'species':iris.target
}) #a second way to make a dataframe
data.head()

   sepalLength  sepalWidth  petalLength  petalWidth  species
0          5.1         3.5          1.4         0.2        0
1          4.9         3.0          1.4         0.2        0
2          4.7         3.2          1.3         0.2        0
3          4.6         3.1          1.5         0.2        0
4          5.0         3.6          1.4         0.2        0

# Descriptive analysis of the data frame

In [7]:
y.irisType.value_counts()

2    50
1    50
0    50
Name: irisType, dtype: int64

In [12]:
data.species.value_counts() # a second way to print values

2    50
1    50
0    50
Name: species, dtype: int64

In [17]:
# https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
irisFromUCI = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", header=None)

In [18]:
irisFromUCI.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [26]:
irisFromUCI.columns = ['sepalLength','sepalHeight','petalLength','petalHeight','species']
irisFromUCI.head()

   sepalLength  sepalHeight  petalLength  petalHeight      species
0          5.1          3.5          1.4          0.2  Iris-setosa
1          4.9          3.0          1.4          0.2  Iris-setosa
2          4.7          3.2          1.3          0.2  Iris-setosa
3          4.6          3.1          1.5          0.2  Iris-setosa
4          5.0          3.6          1.4          0.2  Iris-setosa

In [27]:
irisFromUCI.to_csv('irisFromUCI.csv')